/.quarto/
*_cache/
*_files/
portrait-genomique-bdqc.html

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Results and temporary files
results/*.csv
results/*.rds
!results/.gitkeep
figures/*.png
!figures/.gitkeep

logs/
data/
results/
results_*/

# Site output
_site/
.Renviron

# Package development
*.Rcheck/
*.tar.gz
inst/doc

# targets pipeline store
_targets/
docs

**/*.quarto_ipynb
*.qmd
results/*.rds
